<div class="search-container">
  <%= form_with(url: search_path, method: :get, local: true, class: 'search-form') do |form| %>
    <div class="search-input-group">
      <!-- Dropdown menu for category selection -->
      <%= form.select :category, options_for_select([["Events", "events"], ["Crates", "crates"]]), {}, class: "search-select" %>
      <!-- Search input field -->
      <%= form.text_field :query, value: params[:query], placeholder: "Search for a crate or location...", required: true, class: "search-input" %>
      <!-- Search button with icon -->
      <button type="submit" class="search-icon-button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  <% end %>
</div>

<div class="map-and-crates">
  <!-- Map Section -->
    <%# <div class=map-div> %>
    <div style="width: 80%; height: 1000px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <%# </div> %>

  <!-- Display Crates -->
    <div class="crate-main-listing-container">
      <h4>Available Crates</h4>
      <div class="crate-list">
        <% @crates.each do |crate| %>
          <div class="crate-card"
              data-crate-id="<%= crate.id %>"
              data-lat="<%= crate.latitude %>"
              data-lng="<%= crate.longitude %>">
            <h4><%= crate.name %></h4>
            <% if crate.flash_sale %>
              <p class="text-danger">🔥 Flash Sale!</p>
            <% end %>
            <p><%= crate.description %></p>
            <p><strong>Price:</strong> £<%= crate.price %></p>
            <p><strong>Location:</strong> <%= crate.current_location %></p>
          </div>
        <% end %>
      </div>
    </div>
