
<h1>Crates By <%= @farmer.name %></h1>
<p><%= @farmer.location%></p>
<hr>
<p>Find me in app/views/crates/index.html.erb</p>
<hr>
<%= link_to "<< All Crates", all_crates_path %>
<%= link_to "Farmer Profile", farmer_path(@farmer) %>

<hr>
<hr>

<!-- Display Crates -->
<div class="crate-list">
  <% @crates.each do |crate| %>
    <div class="crate-card">
      <h2><%= crate.name %></h2>
      <p><%= crate.description %></p>
      <p><strong></strong> £<%= crate.price %></p>
      <% if crate.flash_sale %>
        <p class="text-danger">🔥 Flash Sale!</p>
      <% end %>
    </div>
    <hr>
  <% end %>

</div>
