<h1>Farmer <%= @farmer.name %> Crates</h1>
<%= @farmer.location%>

<p>Find me in app/views/crates/index.html.erb</p>


<!-- Display Crates -->
<div class="crate-list">
  <% @crates.each do |crate| %>
    <div class="crate-card">
      <h2><%= crate.name %></h2>
      <p><%= crate.description %></p>
      <p><strong>Price:</strong> £<%= crate.price %></p>
      <p><strong>Farmer:</strong> <%= crate.farmer.user.first_name if crate.farmer %></p>
      <p><strong>Location:</strong> <%= crate.current_location %></p>
      <% if crate.flash_sale %>
        <p class="text-danger">🔥 Flash Sale!</p>
      <% end %>
    </div>
  <% end %>
</div>
