<h1>New Crate</h1>

<%= form_with model: @crate, url: create_my_crate_path, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= f.label :flash_sale %>
    <%= f.check_box :flash_sale %>
  </div>

  <div>
    <%= f.submit "Create Crate" %>
  </div>
<% end %>


<%= link_to "<< My Crates", my_crates_path %>
