<h1>Crate Overview: <%= @crate.name %></h1>
<h4>Supplier: <%= @crate.farmer.user.email.split('@').first  %></h4>
<h4>Description: <%= @crate.description %></h4>
<h4>Crate Price: £<%= @crate.price %></h4>
<h4>Pickup Details: <%= @crate.pickup_details || "Not available" %></h4>
<h4>Crate Contents:</h4>
<% @products.each do |product| %>
  <ul>
    <li>
      <%= product.name %>
      * <%= product.quantity %>
    </li>
  </ul>
<% end %>

<% if @crate.current_event %>
  <%= link_to "Buy Now", new_crate_order_path(@crate), class: "btn btn-primary" %>
<% else %>
  <p class="text-danger">This crate is not currently available for purchase.</p>
<% end %>

<hr>
<% if current_user.farmer.id == @crate.farmer_id %>
    <ul>
      <li><%= link_to "Edit Crate", edit_farmer_crate_path(@crate.farmer, @crate) %></li>
      <li><%= link_to "Delete Crate", farmer_crate_path(@crate.farmer, @crate), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
      <li><%= link_to "New Crate", new_my_crate_path %></li>
      <li><%= link_to "View Your Active Crates", my_crates_path %></li>
  </ul>
<% end %>
