<nav id="sidebar" class="col-12 col-md-3 col-lg-2 bg-dark text-white p-3">
  <div class="top-section-sidebar">
        <div class="text-center mb-3">
          <%= link_to root_path do %>
            <%= image_tag "fs-icon-1.png", alt: "Logo", class: "img-fluid sidebar-logo" %>
          <% end %>
        </div>
      <hr>
      <ul class="nav flex-column">
          <li class="nav-item <%= 'active' if current_page?(root_path) %>">
              <%= link_to root_path, class: "nav-link" do %>
                <i class="fa-solid fa-house"></i> Home
              <% end %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(my_crates_path) %>">
              <%= link_to my_crates_path, class: "nav-link" do %>
                <i class="fa-solid fa-box-open"></i> Crates
              <% end %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(events_path) %>">
              <%= link_to events_path, class: "nav-link" do %>
                <i class="fa-solid fa-earth-europe"></i> Events
              <% end %>
          </li>
         <li class="nav-item <%= 'active' if current_page?(farmers_path) %>">
              <%= link_to farmers_path, class: "nav-link" do %>
                <i class="fa-solid fa-people-roof"></i> Farmers
              <% end %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(my_events_path) %>">
              <%= link_to my_events_path, class: "nav-link" do %>
                <i class="fa-solid fa-calendar-days"></i> Events Schedule
              <% end %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(my_posts_path) %>">
              <%= link_to my_posts_path, class: "nav-link" do %>
               <i class="fa-solid fa-newspaper"></i> Posts
              <% end %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(profile_path) %>">
              <%= link_to profile_path, class: "nav-link" do %>
                <i class="fas fa-user me-2"></i> Profile
              <% end %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(dashboard_path) %>">
              <%= link_to dashboard_path, class: "nav-link" do %>
                <i class="fa-solid fa-table-columns"></i> Dashboard
              <% end %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(analytics_path) %>">
              <%= link_to analytics_path, class: "nav-link" do %>
                <i class="fa-solid fa-chart-line"></i> Analytics
              <% end %>
          </li>
      </ul>
  </div>
  <div class="bottom-section-sidebar">
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong><%= current_user.email.split('@').first %></strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><%= link_to edit_user_registration_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-gear"></i>  Settings
              <% end %>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item"  %></li>
      </ul>
    </div>
  </div>
</nav>
