<div class="container-event-overview">
  <div class="event-details">
      <% if @event.photo.attached? %>
       <%= cl_image_tag @event.photo.key, height: 500, width: 700 %>
      <%else%>
        <img class="event-show-image" alt="Market Image" src="https://media.houseandgarden.co.uk/photos/63e11c8cb4cfdd5e8b831271/master/w_1600%2Cc_limit/B6M37H.jpg" alt="no-image" style=" height: 500; width: 700;">
      <% end %>

    <div class="event-info">
      <h1><%= @event.name %></h1>
      <p><%= @event.location %></p>
      <p><%= @event.start_time.strftime("%B %d, %Y %H:%M") %> - <%= @event.end_time.strftime("%B %d, %Y %H:%M") %></p>
<div class="map">
      <div style="width: 100%; height: 300px;"
           data-controller="map"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
           data-map-marker-value="<%= @marker.to_json %>">
      </div>
    </div>
    </div>


  </div>
</div>

<div class="event-show-farmers">

  <div class="attendance-form">
    <% if user_signed_in? && current_user.farmer? %>
      <% if @event.event_attendances.exists?(farmer: current_user.farmer) %>
        <p>You are already attending this event.</p>
      <% else %>
        <%= simple_form_for [@event, EventAttendance.new] do |f| %>
          <div class="form-row">
            <div class="form-group">
              <%= f.input :start_time, include_seconds: false, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.input :end_time, include_seconds: false, class: "form-control" %>
            </div>
          </div>
          <%= f.submit "Confirm Attendance", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  </div>


<h2 class="my-4">Farmers Attending</h2>
<div class="main-farmer-index">
 <div class="farmer-index-container">
     <% @event.event_attendances.each do |attendance| %>
      <div class="farmers-list">
      <div class="d-flex">
      <% if attendance.farmer.photo.attached? %>
        <%= cl_image_tag attendance.farmer.photo.key, height: 150, width: 150, crop: :fill %>
       <% end %>
       <div>
        <h4><%= attendance.farmer.name %></h4>
        <p> <strong>Location:</strong> <%= attendance.farmer.location %></p>
        <span class="attendance-time">
        (<%= attendance.start_time.strftime("%H:%M") %> - <%= attendance.end_time.strftime("%H:%M") %>)
      </span>
        <%= link_to farmer_path(attendance.farmer) do %>
          <button>
            <div class="svg-wrapper-1">
              <div class="svg-wrapper">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                  >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      fill="currentColor"
                      d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                    ></path>
                  </svg>
              </div>
            </div>
            <span>View Profile</span>
          </button>
        <% end %>
        </div>
        </div>

      </div>
    <% end %>
  </div>
  

</div>
