<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<h1><%= @event.name %></h1>
<p><%= @event.location %></p>
<p><%= @event.start_time.strftime("%B %d, %Y %H:%M") %> - <%= @event.end_time.strftime("%B %d, %Y %H:%M") %></p>

<% if user_signed_in? && !@event.event_attendances.find_by(farmer:current_user.farmer)%>
    <%= form_with model: [@event, EventAttendance.new] do |f| %>
    <div>
      <label>Start Time:</label>
      <%= f.time_select :start_time, include_seconds: false %>
    </div>
    <div>
      <label>End Time:</label>
      <%= f.time_select :end_time, include_seconds: false %>
    </div>
    <%= f.submit "Confirm Attendance", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p>You are already attending this event.</p>
<% end %>

<h2>Farmers Attending:</h2>
<ul>
  <% @event.event_attendances.each do |attendance| %>
    <li>
      <%= attendance.farmer.user.email %> - Attending from
      <%= attendance.start_time.strftime("%H:%M") %> to
      <%= attendance.end_time.strftime("%H:%M") %>
    </li>
  <% end %>
</ul>
