<div class="username"><h1>My profile</h1></div>


<div class="main-profile-container">
  <div class="left-half">
    <div class="profile-card-container">
      <div class="profile-container" data-controller= "toggle">
        <%= cl_image_tag @farmer.photo.key, height: 150, width: 150, crop: :fill %>


        <div class="profile-paragraph">
          <p><strong>Bio:</strong> <%= @farmer.bio %></p>
          <p><strong>Location📍:</strong> <%= @farmer.location %></p>
          <p><strong>Rating: <%= @average_rating == 0 ? 0 : @average_rating %></strong></p>
        </div>

          <div class="profile-edit">
            <%= button_tag class: "edit-icon", data: { action: "click->toggle#toggle" } do %>
              <i class="fa-regular fa-pen-to-square"></i>
          </div>


          <div data-toggle-target="form" class="hidden">
            <%= render 'update', farmer: @farmer %>
          </div>
        <% end %>
      </div>
    </div>

       <div class="container-review">

        <hr>

        <div class="reviews-all">
          <p><strong>All reviews:</strong></p>
            <% if @reviews.present? %>
                <% @reviews.each do |review| %>
                <%= "★" * review.rating   %>
                  <p><em><%= review.user.first_name %>:</em></p>
                  <%= review.content %>
                  <hr>
                <% end %>
            <% else %>
              <p>No reviews available yet.</p>
            <% end %>
        </div>
    </div>
  </div>

  <div class="right-half">
     <div class="calendar-card-container">
        <div class="calendar-container">

          <div class="profile-calendar">
              <%= month_calendar(events: @event_attendance, end_attribute: :end_time) do |date, event_attendances| %>
              <%= date %>
                <% event_attendances.each do |event_attendance| %>
                 <%= link_to event_path(event_attendance.event) do%>
                  <i class="fa-solid fa-carrot calendar-icon"></i>
                  <div class="calendar-event-time"><%= event_attendance.start_time.strftime(("%d-%B %H:%M")) %></div>
                  <div class="calendar-event-time"><%= event_attendance.end_time.strftime(("%H:%M")) %></div>
                  <% end %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>

        <div class="carousel-quarter">
        <div class="crates-card-container">
          <h3>My Crates</h3>

          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
            <% Crate.all.each_slice(3).with_index do |crates, index| %>
              <div class="carousel-item <%= "active" if index == 0%>">
              <div class="row justify-content-center">
                <% crates.each do |crate| %>
                  <div class="carousel-card">
                    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
                    </div>
                    <div class="card-div">
                      <strong><%= crate.name %></strong>
                      <p>£<%= crate.price %></p>
                  </div>
                  </div>
                <% end %>
                </div>
              </div>
            <% end %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
