<h1>Create Farmer Profile</h1>
<%= simple_form_for @farmer, local: true do |f| %>
<%= f.input :farm_name, label: "Farm Name:" %>
<%= f.input :bio, label: "Bio:" %>
<%= f.input :location, label: "Location:" %>
 <%= f.submit "Create Profile" %>
<% end %>
