<h1>Welcome farmer ID</h1>
<h1><%= @farmer.user.email %>'s Profile</h1>
<p><%= @farmer.bio %></p>
<p><%= @farmer.location %></p>

<h3>Upcoming Events</h3>
<% if @upcoming_events.any? %>
  <ul>
    <% @upcoming_events.each do |event| %>
      <li>
        <strong><%= event.name %></strong> - <%= event.start_time.strftime("%B %d, %Y %I:%M %p") %> to <%= event.end_time.strftime("%I:%M %p") %>
        <%= button_to "Cancel Attendance", event_event_attendance_path(event, event_attendances.find_by(farmer: @farmer)), method: :delete, class: "btn btn-danger" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no upcoming events.</p>
<% end %>
