<h1><%= @farmer.name %> Profile</h1>



<div class="main-profile-container">
  <div class="left-half">
    <div class="profile-card-container">
      <div class="profile-container">
      <% if @farmer.photo.attached? %>

       <%= cl_image_tag @farmer.photo.key, height: 150, width: 150, crop: :fill %>

      <%else%>
        <img class= "no-image" src="https://uxwing.com/wp-content/themes/uxwing/download/peoples-avatars/default-avatar-profile-picture-male-icon.png" alt="no-image" style=" height: 150px; width: 150;">
      <% end %>


        <div class="profile-paragraph">
          <p><strong><i class="fa-solid fa-address-card"></i> :</strong> <%= @farmer.bio %></p>
          <p><strong><i class="fa-solid fa-location-dot"></i> :</strong> <%= @farmer.location %></p>
          <p><strong><i class="fa-solid fa-star"></i> : <%= @average_rating == 0 ? 0 : @average_rating %></strong></p>
        </div>


      </div>
    </div>

       <div class="container-review">
        <div class="star-rate">
          <div class="row">
            <div class="col-xs-4">

                  <%= simple_form_for( [@farmer, @review],  data: { controller: "submit" }) do |f| %>
                  <!-- Hidden input for rating -->
                  <%= f.hidden_field :rating, id: "rating-hidden", data: { controller: "star-rating" } %>

                  <!-- Textarea for review content -->
                  <%= f.input :content, as: :text, label: "Your Review:", input_html: { rows: 3, class: "form-control" } %>

                  <!-- Star Rating -->
                  <div class="star-rating" data-controller="star-rating">
                    <span class="star" data-action="mouseover->star-rating#highlight click->star-rating#select" data-value="1">★</span>
                    <span class="star" data-action="mouseover->star-rating#highlight click->star-rating#select" data-value="2">★</span>
                    <span class="star" data-action="mouseover->star-rating#highlight click->star-rating#select" data-value="3">★</span>
                    <span class="star" data-action="mouseover->star-rating#highlight click->star-rating#select" data-value="4">★</span>
                    <span class="star" data-action="mouseover->star-rating#highlight click->star-rating#select" data-value="5">★</span>
                  </div>


                  <!-- Submit Button -->
                  <%= f.submit "Submit Review", class: "btn btn-dark mt-3" %>
                <% end %>

            </div>
          </div>
        </div>

        <hr>

        <div class="reviews-all">
          <p><strong>All reviews:</strong></p>
            <% if @reviews.present? %>
              <% @reviews.each do |review| %>
                <%= "★" * review.rating   %>
                  <p><em><%= review.user.first_name %>:</em></p>
                  <%= review.content %>
                  <hr>
                <% end %>
            <% else %>
              <p>No reviews available yet.</p>
            <% end %>
        </div>
    </div>
  </div>

  <div class="right-half">
    <% if @upcoming_events.any? %>
       <ul>
        <% @upcoming_events.each do |event| %>
           <li>
            <strong><%= event.name %></strong> - <%= event.start_time.strftime("%B %d, %I:%M %p") %> to <%= event.end_time.strftime("%I:%M %p") %>
            <%#= button_to "Cancel Attendance", event_attendance_path(event, @upcoming_events.find_by(farmer: @farmer)), method: :delete, class: "btn btn-danger" %>
           </li>
        <% end %>
        </ul>
    <% else %>
        <p>There are no upcoming events for <%= @farmer.name %> .</p>
    <% end %>

    <div class="crates-card-container">
      <h3> <%= @farmer.name %>'s Crates</h3>

      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
        <% Crate.all.each_slice(3).with_index do |crates, index| %>
          <div class="carousel-item <%= "active" if index == 0%>">
          <div class="row justify-content-center">
            <% crates.each do |crate| %>
              <div class="carousel-card">
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.firstchoiceproduce.com/wp-content/uploads/2020/03/large-produce-box.jpg)">
                </div>
                <div class="card-div">
                  <strong><%= crate.name %></strong>
                  <p>£<%= crate.price %></p>
                <div class="carousel-price-button">
                  <%= link_to new_crate_order_path(crate) do %>
                    <button>
                        <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24"
                              width="24"
                              height="24"
                            >
                              <path fill="none" d="M0 0h24v24H0z"></path>
                              <path
                                fill="currentColor"
                                d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                              ></path>
                            </svg>
                        </div>
                      </div>
                      <span>Reserve</span>
                    </button>
                  <% end %>
                </div>
               </div>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>
</div>
</div>
