<h1>Posts By <%= @farmer.name %></h1>
<p><%= @farmer.location%></p>
<hr>
<p>Find me in app/views/posts/index.html.erb</p>
<hr>
<%= link_to "<< All posts", all_posts_path %>
<%= link_to "Farmer Profile", farmer_path(@farmer) %>

<hr>
<hr>

<!-- Display posts -->
<div class="post-list">
  <% @posts.each do |post| %>
    <div class="post-card">

      <p><%= post.caption %></p>
    </div>
    <hr>
  <% end %>

</div>
