<h1>New Post</h1>


  <div class="form-group">
    <%= simple_form_for @post, url: my_posts_path, local: true do |f| %>
      <%#= f.input :photo, as: :file, label: "Upload Your Photo" %>
      <%= f.input :caption, label: "Post Caption", input_html: { class: "form-control", rows: 5 } %>
      <%= f.submit "Create Post", class: "btn btn-primary" %>
    <% end %>
</div>
  <%# <div class="form-group"> %>
    <%# <%= form.label :images, "Upload Images" %>
    <%# <%= form.file_field :images, multiple: true, class: "form-control" %>
  <%# </div> %>

<%= link_to "Back to My Posts", my_posts_path, class: "btn btn-secondary" %>
