<h1>Farmer Post</h1>
<hr>
<% if user_signed_in? %>
  <% if @post.likes.exists?(user: current_user) %>
    <!-- Unlike Button (Solid Heart) -->
    <%= button_to farmer_post_like_path(@post.farmer, @post, @post.likes.find_by(user: current_user)),
          method: :delete, class: "btn btn-link text-danger p-0 border-0" do %>
      <i class="fa-solid fa-heart fa-2x"></i>
    <% end %>
  <% else %>
    <!-- Like Button (Regular Heart) -->
    <%= button_to farmer_post_likes_path(@post.farmer, @post),
          method: :post, class: "btn btn-link text-dark p-0 border-0" do %>
      <i class="fa-regular fa-heart fa-2x"></i>
    <% end %>
  <% end %>
<% end %>

<p><strong>Likes:</strong> <%= @post.likes.count %></p>


<hr>
<%= link_to "All Posts", all_posts_path %>
<hr>
<h2><%= @post.caption %></h2>
<h4>Posted at: <%= post_timer(@post.created_at) %></h4>
<hr>
<p>Like</p>
<p>Comment</p>
<% if current_user.farmer.id == @post.farmer_id %>
    <ul>
      <li><%= link_to "Edit Post", edit_farmer_post_path(@post.farmer, @post) %></li>
      <li><%= link_to "Delete post", farmer_post_path(@post.farmer, @post), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
      <li><%= link_to "New post", new_post_path %></li>
      <li><%= link_to "View all your posts", my_posts_path %></li>
  </ul>
<% end %>
