<!DOCTYPE html>
<html>
  <head>
    <title>FarmsnapApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="nav-main-container <%= 'row-layout' if user_signed_in? %>">

    <% if user_signed_in? && current_user.role == "farmer" %>
      <%= render "sections/sidebar-1" %>
    <% elsif user_signed_in? && current_user.role == "standard" %> %>
      <%= render "sections/sidebar-2" %>
      <% else %>
      <%= render "shared/navbar" %>
    <% end %>

    <div class="container mt-5">
      <%= render "shared/flashes" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</body>

</html>
